:host /deep/ .node-content-wrapper, :host /deep/ .tree-children {
  position: relative;
}

:host /deep/ .node-content-wrapper::before, :host /deep/ .tree-children::after {
  content: "";
  position: absolute;
}

:host /deep/ .node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

:host /deep/ .tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

:host /deep/ .tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

:host /deep/ treenode:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

:host /deep/ .toggle-children {
  z-index: 1;
}
